
logs/

realms_persistence.json

options.txt

craftpresence/

knownkeys.txt

saves/

screenshots/

usercache.json

usernamecache.json

crash-reports/

XaeroWaypoints/

XaeroWorldMap/

minecraftinstance.json

config/jei/bookmarks.ini

config/cherishedworlds/favorites.dat

servers.dat

shaderpacks/

optionsshaders.txt

optionsof.txt

changelog.md

ct_dumps/entityType.txt

ct_dumps/item.txt

ct_dumps/recipetype.txt

config/xaerominimap.txt

config/trashslot-client.toml
