
logs/

realms_persistence.json

options.txt

craftpresence/

knownkeys.txt

saves/

screenshots/

usercache.json

usernamecache.json

crash-reports/

XaeroWaypoints/

XaeroWorldMap/

minecraftinstance.json

config/jei/bookmarks.ini

config/cherishedworlds/favorites.dat
